body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vi;
    padding: 20px;
    margin-top: -49vi;
    margin-left: 1vi;
    width: 4vi;
}
.category {
    background-color:rgb(39, 131, 39);
    border-radius: 2vi;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 12vi;
    height: 12vi;
    margin-top: 6vi;
    left: 10vi;
}
.category a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1vi;
}
.category img {
    margin-top: 0vi;
    margin-left: 1.5vi;
    width: 9vi;
    height: 9vi;
}
.enlace {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 3vi;
    padding: 5vi;
    margin-top: -1vi;
    width: 12vi;
    color: rgb(39, 131, 39);
    text-decoration: none;
}
.enlace a {
    text-decoration: none;
    color: rgb(39, 131, 39);
    font-weight: bold;
    font-size: 1vi;
}
.titu {
    position: absolute;
    top: 5vi;
    left: 30vi;
    color: rgb(39, 131, 39);
}
.cuadro {
    background-color: white;
    border-radius: 2vi;
    width: 74vi;
    height: 50vi;
    margin-top: 6vi;
    margin-left: 25vi;
}
.cuadroI {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -25.4vi;
    margin-left: 27.8vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadroII {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -24.5vi;
    margin-left: 35vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro3 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -25.4vi;
    margin-left: 44vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro4 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -24.5vi;
    margin-left: 52vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro5 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -25.4vi;
    margin-left: 60vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro6 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -24.5vi;
    margin-left: 68vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro7 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -25.4vi;
    margin-left: 76.2vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro8 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -24.5vi;
    margin-left: 84.6vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro9 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -3vi;
    margin-left: 27.8vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro10 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -2vi;
    margin-left: 35vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro11 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -3vi;
    margin-left: 44vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro12 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -2vi;
    margin-left: 52vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro13 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -3vi;
    margin-left: 60vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro14 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -2vi;
    margin-left: 68vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro15 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -3vi;
    margin-left: 76.2vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro16 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -2vi;
    margin-left: 84.6vi;
    font-size: 0.7vi;
    text-align: center;
}