body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vi;
    padding: 20px;
    margin-top: -49vi;
    margin-left: 1vi;
    width: 4vi;
}
.category {
    background-color:rgb(39, 131, 39);
    border-radius: 2vi;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 12vi;
    height: 12vi;
    margin-top: 6vi;
    left: 10vi;
}
.category a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1vi;
}
.category img {
    margin-top: 0vi;
    margin-left: 1.5vi;
    width: 9vi;
    height: 9vi;
}
.enlace {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 3vi;
    padding: 5vi;
    margin-top: -1vi;
    width: 12vi;
    color: rgb(39, 131, 39);
    text-decoration: none;
}
.enlace a {
    text-decoration: none;
    color: rgb(39, 131, 39);
    font-weight: bold;
    font-size: 1vi;
}
.titu {
    position: absolute;
    top: 5vi;
    left: 30vi;
    color: rgb(39, 131, 39);
}
.cuadro {
    background-color: white;
    border-radius: 2vi;
    width: 74vi;
    height: 50vi;
    margin-top: 6vi;
    margin-left: 25vi;
}
.cuadroI {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -25.4vi;
    margin-left: 27.8vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadroII {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -24.5vi;
    margin-left: 35vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadroII p{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.7vi;
    margin-left: 0vi;
    margin-top: 0vi;
}
.cuadro3 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -25.4vi;
    margin-left: 44vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro4 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -24.5vi;
    margin-left: 52vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro4 p{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.7vi;
    margin-left: 0vi;
    margin-top: 0vi;
}
.cuadro5 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -25.4vi;
    margin-left: 60vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro6 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -24.5vi;
    margin-left: 68vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro6 p{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.7vi;
    margin-left: 0vi;
    margin-top: 0vi;
}
.cuadro7 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -25.4vi;
    margin-left: 76.2vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro8 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -24.5vi;
    margin-left: 84.6vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro8 p{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.7vi;
    margin-left: 0vi;
    margin-top: 0vi;
}
.cuadro9 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -3vi;
    margin-left: 27.8vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro10 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -2vi;
    margin-left: 35vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro10 p{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.7vi;
    margin-left: 0vi;
    margin-top: 0vi;
}
.cuadro11 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -3vi;
    margin-left: 44vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro12 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -2vi;
    margin-left: 52vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro12 p{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.7vi;
    margin-left: 0vi;
    margin-top: 0vi;
}
.cuadro13 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -3vi;
    margin-left: 60vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro14 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -2vi;
    margin-left: 68vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro14 p{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.7vi;
    margin-left: 0vi;
    margin-top: 0vi;
}
.cuadro15 {
    position: absolute;
    background-color: white;
    border-radius: 0.6vi;
    width: 13vi;
    height: 3vi;
    margin-top: -3vi;
    margin-left: 76.2vi;
    font-size: 0.7vi;
    text-align: start;
    color: rgb(39, 131, 39);
}
.cuadro16 {
    position: absolute;
    background-color:  rgb(39, 131, 39);
    border-radius: 0.6vi;
    width: 4vi;
    height: 1vi;
    margin-top: -2vi;
    margin-left: 84.6vi;
    font-size: 0.7vi;
    text-align: center;
}
.cuadro16 p{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.7vi;
    margin-left: 0vi;
    margin-top: 0vi;
}
.containers {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 3vi;
    padding: 5vi;
    margin-top: -1vi;
    width: 12vi;
    color: rgb(39, 131, 39);
}
.categoryC {
    background-color: rgb(245, 144, 144);
    border-radius: 2vi;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 69vi;
    height: 7.2vi;
    margin-top: 1vi;
    margin-left: -3vi;
}
.cuadroC {
    background-color: white;
    border-radius: 2vi;
    width: 74vi;
    height: 45vi;
    margin-top: -43vi;
    margin-left: 25vi;
}
.vacio {
    background-color: rgb(44, 158, 15);
    border-radius: 2vi;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 9vi;
    height: 1vi;
    margin-top: -4vi;
    margin-left: 28vi;
}
.vacio a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1vi;
    margin-left: 1.5vi;
}
.ulti {
    position: absolute;
    background: green;
    top:10vi;
    left:30vi;
}